@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html, body {
  font-family: 'JetBrains Mono', monospace;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px 0px 0px;
  background-color: rgb(11,11,11)
}

.mcontainer {
  background-color: rgb(11,11,11);
  min-width: 100%;
  min-height: 100%;
  text-align: center;
}

.txtcont {
  font-family: 'JetBrains Mono', monospace;
  size: 15px;
  color: white;
  padding: 0px 0px 0px;
}

.menubar {
  font-family: 'JetBrains Mono', monospace;
  size: 10px;
  color: white;
  padding: 0px 0px 0px;
}

.logo {
  max-width: 200px;
  padding: 80px 0px 0px;
  border-radius: 35%;
}

.atbhn {
  max-width: 100px;
  padding: 80px 0px 0px;
}

.footer {
  size: 10px;
}

/* unvisited link */
a:link {
  color: rgb(29,56,102);
}

/* visited link */
a:visited {
  color: rgb(29,56,102);
}

/* mouse over link */
a:hover {
  color: rgb(243, 158, 34);
}

/* selected link */
a:active {
  color: rgb(243, 158, 34);
}

hr {
  width: 60%;
  border: 3px solid white;
}
